<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="awellcure,UV led,固化">
    <meta name="description"
          content="晶固（上海）智能系统有限公司是LED封装及技能控制技术应用于UV固化行业的领导者">
    <meta name="author" content="王勇强">
    <title>晶固（上海）智能系统有限公司</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="media/css/style.css"/>
</head>
<body>
<div id="products" onclick="javascript:$('.secondMenu').css('display','none');">
    <!--顶部-->
    <div id="app-nav">
        <app-nav></app-nav>
    </div>
    <!--产品介绍-->
    <div style="margin-left: 25px;margin-right: 25px;margin-bottom: 40px;">
        <div class="bigTitle">UV LED产品系列</div>
        <a class="blueButton"style="font-size: 18px;">索取更多信息>></a>
        <div style="font-size:20px;margin-top: 32px;line-height: 36px;">
            晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。
        </div>
        <span class=" 晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。

         晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。

         晶固（上海），智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。

          晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。

          晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。

           晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。

           晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。

           晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。

           晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。 晶固（上海）智能系统有限公司是 LED 固化技术应用的先驱，多年来一贯专注于UV LED产品的研发与制造。

           晶固（上海）智能系统有限公司通过系统研发方式，以LED光矩阵，光学导向，散热管理和电子性能为四大支柱，设计生产出一系列具有卓越性能的LED固化产品。晶固（上海）智能系统有限公司固化产品体型小，易集成，为设备制造商提供高UV 输出能量，坚固耐用的固化产品和解决方案。晶固（上海）智能系统有限公司产品采用365纳米，385纳米，395纳米和405纳米的紫外光波长，提供 风冷 和水冷两类固化光源，产品在无故障操作的前提下，确保最高的UV持续输出能力。晶固（上海）智能系统有限公司通过了ISO 9000:2008质量管理体系认证。晶固（上海）智能系统有限公司提供全球销售与技术支持，确保客户固化应用过程稳定可靠。

        "></span>
    </div>
    <!--产品区域-->
    <div style="margin:0px 25px 25px 25px">
        <div class="row-fluid">
            <div v-for="(data,index) in list" class="span3 inline" style="height: 256px;font-size:16px;margin:10px 10px 20px 1px;">
                <div v-if="index/4 >= 1" class="border1" style="margin-bottom:20px;margin-right:20px;"></div>
                <span class="block marBottom10 text20">{{data.name}}({{data.type}})</span>
                <img class="block marBottom10" src="media/image/FireEdge.png">
                <span class="block marBottom10"style="line-height: 35px;word-wrap: break-word;">
                    固化区域(mm):{{data.size}}
                </span>
                <span class="block marBottom10">
                    峰值辐照度:≤{{data.length}}W/cm²
                </span>
            </div>
        </div>
    </div>
    <!--底部-->
    <div id="app-footer">
        <app-footer></app-footer>
    </div>
</div>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="media/js/vue.min.js"></script>
<script type="text/javascript" src="manage/nav.js"></script>
<script type="text/javascript" src="manage/footer.js"></script>
<script type="text/javascript" src="manage/product.js"></script>
</body>
</html>